* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: aqua;
  margin-bottom: 200px;
}

form {
  padding: 30px;
}

form input,
select,
button {
  padding: 5px 10px;
  border-radius: 5px;
}

#todayContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#currentConditions {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: aquamarine;
  align-items: center;
}

#today {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: pink;
  align-items: center;
}

#hours {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: gold;
}

#yesterdayData,
#tomorrowData,
#lastSevenDaysData div,
#nextSevenDaysData div {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: pink;
  align-items: center;
}

#lastSevenDaysData,
#nextSevenDaysData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather-img {
  width: 100px;
}

.loading-message {
  color: green;
}
